<p id="notice"><%= notice %></p>


<table border=1 style='width: 100%' class='port-table'>
    <tr>
      <th style='width: 10%'>Symbol</th>
      <th style='width: 10%'>Crypto</th>
      <th style='width: 10%'>Txn</th>
      <th style='width: 10%'>Total N</th>
      <th style='width: 10%'>Av Cost</th>
      <th style='width: 10%'>Cost Basis</th>
      <th style='width: 10%'>Current Price</th>
      <th style='width: 10%'>Market Value</th>
      <th style='width: 10%'>Return</th>

    </tr>

    <% @portfolios.each do |portfolio| %>

      <tr style='background-color: #f5f5f5' onclick="toggle('portfolio<%= portfolio.id %>')">
        <td><%= portfolio.name %></td>
        <td></td>
        <td><%= portfolio.totals['txn'] %></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(portfolio.totals['tot_cost_usd'], precision: 2) %></td>
        <td></td>
        <td><%= number_to_currency(portfolio.totals['market_value'], precision: 2) %></td>
        <td><%= number_to_percentage(100*((portfolio.totals['market_value'] / portfolio.totals['tot_cost_usd'])-1)) %></td>

      </tr>

      <% portfolio.positions.each do |p| %>

        <tr class='portfolio<%= portfolio.id %>' style='display: none'>
          <td><%= p[0] %></td>
          <td><%= p[1]['name'] %></td>
          <td><%= p[1]['txn'] %></td>
          <td><%= number_with_precision(p[1]['amount'], precision: 2) %></td>
          <td><%= number_to_currency(p[1]['avg_cost_usd'], precision: 4) %></td>
          <td><%= number_to_currency(p[1]['tot_cost_usd'], precision: 2) %></td>
          <td><%= number_to_currency(p[1]['current_price'], precision: 4) %></td>
          <td><%= number_to_currency(p[1]['market_value'], precision: 2) %></td>
          <td><%= number_to_percentage(100*((p[1]['market_value']/p[1]['tot_cost_usd'])-1)) %></td>
        </tr>

      <% end %>

    <% end %>

</table>

<br>

<script>
function toggle(i){

  if($("."+i).css('display')=="none"){
    $("."+i).css('display','table-row ')
  }else{
    $("."+i).css('display','none ')
  }
}
</script>

<%= link_to 'New Portfolio', new_portfolio_path %>
