<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coin_id %>
    <%= f.collection_select(:coin_id, Coin.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :portfolio_id %>
    <%= f.collection_select(:portfolio_id, Portfolio.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, onchange: "fillbtcprice(this.value)" %>
  </div>

  <div class="field">
    <label for="btcprice">Bitcoin Price USD</label>
    <span id='bitcoinprice'>&nbsp;</span>
  </div>



  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :price_usd %>
    <%= f.text_field :price_usd, onchange: "updatebtcprice(this.value)"  %>
  </div>

  <div class="field">
    <%= f.label :price_btc %>
    <%= f.text_field :price_btc %>
  </div>

  <div class="field">
    <%= f.label :kind %>
    <%= f.collection_select(:kind, ["Buy","Sell"], :to_s, :to_s) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>

function updatebtcprice(price_usd){
  //given the price in USD / adjust the BTC total amount

  price_btc = $("#bitcoinprice").html();
  $("#transaction_price_btc").val(price_usd/price_btc)


}

function fillbtcprice(date){

  d1 = Date.parse(date)
  console.log(d1)

  if(!isNaN(d1) && d1 >= Date.parse("2014-01-01")){
    $.get( "/api/getbtcprice/"+date, function( data ) {
      $("#bitcoinprice").html(data)
    });
  }
}

</script>

